name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'

    - name: Install Dependencies (API)
      run: |
        cd api
        npm ci

    - name: Install Dependencies (Client)
      run: |
        cd client
        npm ci

    - name: Build Client
      run: |
        cd client
        npm run build

    # - name: Run Tests
    #   run: |
    #     cd api
    #     npm test
